/* mtheme.css */

.selector-title 
{
  float:left;
  width:250px;
}

.selector 
{
  border-bottom:solid 3px #F4F4F4;
}

/**
 * Customize Ctools Export UI: admin/build/mtheme ===================
 */

table.mtheme-admin td.package { font-style:italic; }

table.mtheme-admin td.ctools-export-ui-name {
  width:75%;
  padding-left:20px;
  }

table.mtheme-admin td.ctools-export-ui-operations { white-space:nowrap; }

table.mtheme-admin td.ctools-export-ui-storage { color:#999; }

table.mtheme-admin div.description {
  padding-left:10px;
  margin:0px;
  }

table.mtheme-admin input.form-text { width:90%; }
